<header class="header">
    <a [routerLink]="'#'" class="logo">PORTFOLIO</a>
    <nav class="navbar">
        <a [routerLink]="'#'"  style="--i:1;" class="active">Strona główna</a>
        <a [routerLink]="'#'"  style="--i:2;" >O mnie</a>
        <a [routerLink]="'#'"  style="--i:3;" >Kontakt</a>
    </nav>
</header>
    <section class="home">
        <div class="home-content">
            <h3>Cześć, to ja</h3>
            <h1>Kacper Stańczyk</h1>
            <h3>Jestem <span class="multiple-text"></span></h3>
            <p>
                Jestem studentem 4 roku na uczelni AGH. Moją pasją jest programowanie aplikacji internetowych w frameworku Angular oraz produkcja, miksowanie i masterowanie utworów.
            </p>
            <div class="social-media">
                <a href="https://open.spotify.com/artist/3N0Cp3BzyE4ajdIrlhouKp?si=ZfiPgR5NSd-7lz0KqqEbrA" style="--i:4"><i class='bx bxl-spotify'></i></a>
                <a href="https://www.instagram.com/coco_the_snakee/" style="--i:5"><i class='bx bxl-instagram' ></i></a>
                <a href="https://www.youtube.com/channel/UCf8UHCMNj30uAqCtR9DMu0w" style="--i:6"><i class='bx bxl-youtube' ></i></a>
            </div>
            <a href="" class="btn">Pobierz CV</a>
        </div>
        <div class="home-img">
            <img src="./assets/img.png" alt="">
        </div>
    </section>

